<body>
  <div class="container">
    <!-- MENU LATERAL -->
    <div class="row">
      <nav class="menu">
        <ul class="items">
          <li class="item">
            <p>Home</p>
          </li>
          <li class="item">
            <p>Profile</p>
          </li>
        </ul>
      </nav>

      <!-- LISTA DE CHATS  Y OPCION BUSCAR-->
      <section class="discussions">
        <div class="discussion search">
          <div class="searchbar">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" placeholder="Buscar...">
          </div>
        </div>

        <!-- MENSAJES -->

        <div class="discussion">
          <div class="photo" style="background-image: url(https://i.imgur.com/6yGLJ0z.png);">
          </div>
          <div class="contact">
            <p class="name">Nombre</p>
            <p class="message">Ultimo mensaje</p>
          </div>
          <div class="timer">hora</div>
        </div>

        <div class="discussion">
          <div class="photo" style="background-image: url(https://i.imgur.com/6yGLJ0z.png);">
          </div>
          <div class="contact">
            <p class="name">Nombre</p>
            <p class="message">Ultimo mensaje</p>
          </div>
          <div class="timer">hora</div>
        </div>
      </section>

      <!-- CONTENEDOR DEL CHAT REAL -->
      <section class="chat">
        <div class="header-chat">
          <i class="icon fa fa-user-o" aria-hidden="true"></i>
          <p class="name">Nombre</p>
          <i class="icon clickable fa fa-ellipsis-h right" aria-hidden="true"></i>
        </div>
        <div class="messages-chat">
          <div class="message">
            <div class="photo" style="background-image: url(https://i.imgur.com/6yGLJ0z.png);">
              <!-- <div class="online"></div> -->
            </div>
            <p class="text"> Texto del destinario </p>
          </div>
          <div class="message text-only">
            <p class="text"> Segundo texto del destinario</p>
          </div>
          <p class="time"> hora</p>
          <div class="message text-only">
            <div class="response">
              <p class="text"> Mensaje del remitente</p>
            </div>
          </div>
          <div class="message text-only">
            <div class="response">
              <p class="text"> Segundo texto del remitente</p>
            </div>
          </div>
          <p class="response-time time"> hora</p>
          <div class="message">
            <div class="photo" style="background-image: url(https://i.imgur.com/6yGLJ0z.png);">
              <!-- <div class="online"></div> -->
            </div>
            <p class="text"> Unico mensaje del destinario</p>
          </div>
          <div class="message">
            <div class="photo" style="background-image: url(https://i.imgur.com/6yGLJ0z.png);">
              <!-- <div class="online"></div> -->
            </div>
            <p class="text"> Unico mensaje del destinario</p>
          </div>
          <div class="message">
            <div class="photo" style="background-image: url(https://i.imgur.com/6yGLJ0z.png);">
              <!-- <div class="online"></div> -->
            </div>
            <p class="text"> Unico mensaje del destinario</p>
          </div>
          <div class="message">
            <div class="photo" style="background-image: url(https://i.imgur.com/6yGLJ0z.png);">
              <!-- <div class="online"></div> -->
            </div>
            <p class="text"> Unico mensaje del destinario</p>
          </div>
          <div class="message">
            <div class="photo" style="background-image: url(https://i.imgur.com/6yGLJ0z.png);">
              <!-- <div class="online"></div> -->
            </div>
            <p class="text"> Unico mensaje del destinario</p>
          </div>
          <div class="message">
            <div class="photo" style="background-image: url(https://i.imgur.com/6yGLJ0z.png);">
              <!-- <div class="online"></div> -->
            </div>
            <p class="text"> Unico mensaje del destinario</p>
          </div>
          <p class="time"> hora</p>
        </div>
        <div class="footer-chat">
          <i class="icon fa fa-smile-o clickable" style="font-size:25pt;" aria-hidden="true"></i>
          <input type="text" class="write-message" placeholder="Escribe aquí...">
          <i class="icon send fa fa-paper-plane-o clickable" aria-hidden="true"></i>
        </div>
      </section>
    </div>
  </div>
</body>
