<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="contenido">
    <div class="cuadro flex">
      <div class="cuadros">
        <div class="caja-title">
          <p class="title">Basic</p>
          <p class="p1">Boosted</p>
        </div>
        <div class="caja-gota">
          <div class="gota">
            <div class="precio">
              <p class="p2">$5</p>
              <p class="p1 white">Month</p>
            </div>
          </div>
        </div>
        <div id="info">
          <div class="info">
            <div class="infobox">
              <span class="icon">--</span>
              <p class="Storage">Storage</p>
            </div>
            <div class="infopreci">
              <p class="pre">10GB</p>
            </div>
          </div>

          <div class="info">
            <div class="infobox">
              <span class="icon">--</span>
              <p class="Storage">Storage</p>
            </div>
            <div class="infopreci">
              <p class="pre">10GB</p>
            </div>
          </div>
          <div class="info">
            <div class="infobox">
              <span class="icon">--</span>
              <p class="Storage">Storage</p>
            </div>
            <div class="infopreci">
              <p class="pre">10GB</p>
            </div>
          </div>
          <div class="info">
            <div class="infobox">
              <span class="icon">--</span>
              <p class="Storage">Storage</p>
            </div>
            <div class="infopreci">
              <p class="pre">10GB</p>
            </div>
          </div>
          <div class="info">
            <div class="infobox">
              <span class="icon">--</span>
              <p class="Storage">Storage</p>
            </div>
            <div class="infopreci">
              <p class="pre">10GB</p>
            </div>
          </div>
          <div class="info">
            <div class="infobox">
              <span class="icon">--</span>
              <p class="Storage">Storage</p>
            </div>
            <div class="infopreci">
              <p class="pre">10GB</p>
            </div>
          </div>
        </div>
        <div class="btn">
          <button>Order Now</button>
        </div>
      </div>

<!----------------------------------------------------------------------------------------------------------------------------------------------->
      <div class="cuadros large">
        <div class="caja-title">
          <p class="title two">Premium</p>
          <p class="p1 p11">Boosted</p>
        </div>
        <div class="caja-gota cajagota2">
          <div class="gota gota2">
            <div class="precio">
              <p class="p22">$10</p>
              <p class="p1 p23">Month</p>
            </div>
          </div>
        </div>
        <div id="info" class="infoid">

          <div class="info">
            <div class="infobox">
              <p class="Storage whiite">-Frame Improved</p>
            </div>
            <div class="infopreci">
              <p class="pre whiite">✔</p>
            </div>
          </div>
          <div class="info">
            <div class="infobox">
            </div>
            <div class="infopreci">
              <p class="pre whiite">10GB</p>
            </div>
          </div>
          <div class="info">
            <div class="infobox">
              <span class="icon whiites">--</span>
              <p class="Storage whiite">Storage</p>
            </div>
            <div class="infopreci">
              <p class="pre whiite">10GB</p>
            </div>
          </div>
          <div class="info">
            <div class="infobox">
              <span class="icon whiites">--</span>
              <p class="Storage whiite">Storage</p>
            </div>
            <div class="infopreci">
              <p class="pre whiite">10GB</p>
            </div>
          </div>
          <div class="info">
            <div class="infobox">
              <span class="icon whiites">--</span>
              <p class="Storage whiite">Storage</p>
            </div>
            <div class="infopreci">
              <p class="pre whiite">10GB</p>
            </div>
          </div>
          <div class="info">
            <div class="infobox">
              <span class="icon whiites">--</span>
              <p class="Storage whiite">Storage</p>
            </div>
            <div class="infopreci">
              <p class="pre whiite">10GB</p>
            </div>
          </div>
        </div>
        <div class="btn">
          <button class="button">Order Now</button>
        </div>
      </div>
<!--------------------------------------------------------------------------------------------------------------------------------------------------------------------->
      <div class="cuadros">
        <div class="caja-title">
          <p class="title">GODLIKE</p>
          <p class="p1">Support our team :D</p>
        </div>
        <div class="caja-gota">
          <div class="gota">
            <div class="precio">
              <p class="p2">$1</p>
            </div>
          </div>
        </div>
        <div id="info">
          <div class="info">
            <div class="infobox">
              <span class="icon">--</span>
              <p class="Storage">Storage</p>
            </div>
            <div class="infopreci">
              <p class="pre">10GB</p>
            </div>
          </div>
          <div class="info">
            <div class="infobox">
              <span class="icon">--</span>
              <p class="Storage">Storage</p>
            </div>
            <div class="infopreci">
              <p class="pre">10GB</p>
            </div>
          </div>
          <div class="info">
            <div class="infobox">
              <span class="icon">--</span>
              <p class="Storage">Storage</p>
            </div>
            <div class="infopreci">
              <p class="pre">10GB</p>
            </div>
          </div>
          <div class="info">
            <div class="infobox">
              <span class="icon">--</span>
              <p class="Storage">Storage</p>
            </div>
            <div class="infopreci">
              <p class="pre">10GB</p>
            </div>
          </div>
          <div class="info">
            <div class="infobox">
              <span class="icon">--</span>
              <p class="Storage">Storage</p>
            </div>
            <div class="infopreci">
              <p class="pre">10GB</p>
            </div>
          </div>
          <div class="info">
            <div class="infobox">
              <span class="icon">--</span>
              <p class="Storage">Storage</p>
            </div>
            <div class="infopreci">
              <p class="pre">10GB</p>
            </div>
          </div>
        </div>
        <div class="btn">
          <button>Order Now</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>