<div id="contenido-section">
  <div class="container padd" x-data="{ rightSide: false, leftSide: false }">
      <div class="left-side" :class="{'active' : leftSide}">
          <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
          <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
      <path d="M19 12H5M12 19l-7-7 7-7"/>
    </svg>
        </div>
        <div id="side-wrapper">
          <a><div class="logo"><img src="../../../../../assets/img/Posts/normal_user.png" alt="" srcset=""></div></a>
          <div class="side-wrapper">
            <div class="side-title">MENU</div>
            <div class="side-menu">
              <a routerLink="/Home/En">
                <fa-icon [icon]="faHome" class="awesome-icons"></fa-icon>
              <div>Home</div>
              </a>
              <a routerLink="/ForYou/En">
                <fa-icon [icon]="faHeart" class="awesome-icons-h"></fa-icon>
              <div>Para Ti</div>
              </a>
              <a routerLink="/Adopt/En">
                <fa-icon [icon]="faPaw" class="awesome-icons-p"></fa-icon>
              <div>Adopciones</div>
              </a>
              <a routerLink="/Entities/En">
                <fa-icon [icon]="faHandHoldingHeart" class="awesome-icons-ha"></fa-icon>
                <div>Entidades</div>
              </a>
              <a routerLink="/MeetPeople/En">
                <fa-icon [icon]="faUsers" class="awesome-icons-m"></fa-icon>
              <div>Conoce Usuarios</div>
              </a>
            </div>
          </div>


          <!--Create Menu-->
          <div class="side-wrapper">
            <div class="side-title">Crear</div>
            <div class="side-menu">
              <a routerLink="/CreatePosts/En">
                <fa-icon [icon]="faPlus" class="awesome-icons-p"></fa-icon>
                <div>Crear Anuncio</div>
              </a>
              <a routerLink="/CreateAdopt/En">
                <fa-icon [icon]="faPlus" class="awesome-icons-h"></fa-icon>
                <div>Crear Adopcion</div>
              </a>
              <a routerLink="/">
                <fa-icon [icon]="faRightFromBracket" class="awesome-icons-h"></fa-icon>
                Cerrar Sesion
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="main">
        <div class="main-container">
          <div class="profile">
            <div class="profile-avatar">
              <img src="https://avatars.githubusercontent.com/u/82052937?v=4" alt="" class="profile-img">
              <div class="profile-name" formControlName="title">Julian Lozada</div>
            </div>
            <img src="https://as1.ftcdn.net/v2/jpg/03/52/39/00/1000_F_352390061_Bem8aYkzfGhIObTC4fXhf0PmKQjWM1wN.jpg" alt="" class="profile-cover">
            <div class="profile-menu">
              <a class="profile-menu-link active">Profile</a>
            </div>
          </div>
          <div class="timeline">
            <div class="timeline-left">
              <div class="intro box">
                <div class="intro-title">
                  About Me
                  <button class="intro-menu"></button>
                </div>
                <div class="info">
                  <div class="info-item">
                    Developer in <a href="#">Animal Paws</a>
                  </div>
                  <div class="info-item">
                    Live in <a href="#">Upside Down</a>
                  </div>
                  <div class="info-item">
                    Description: Yeah, yeah I am admin of Animal Paws if you look at me bad I will ban you.<a href="#"></a>
                  </div>
                </div>
              </div>
              <div class="pages box">
                <div class="intro-title">
                  Your Badges
                  <button class="intro-menu"></button>
                </div>
                <div class="user">
                  <img src="https://media.discordapp.net/attachments/934262348590493790/983399849821093908/Humming.png?width=624&height=468" alt="" class="user-img-h">
                </div>
                <div class="user">
                  <div class="username"><strong>허밍 달:</strong> For our great developer, thanks for all the moments and great help, you will always be with us.
                    “Here’s To You, The Brightest Star In The Night Sky”
                    </div>
                </div>
              </div>
            </div>
            <div class="timeline-right">
              <div class="album box" *ngFor="let post of post">
                <div class="status-main">
                  <img src="https://cdn3.iconfinder.com/data/icons/avatars-9/145/Avatar_Cat-512.png" class="status-img" />
                  <div class="album-detail">
                    <div class="album-title"><strong>CutieCat </strong>Posted An <span>Announce</span></div>
                    <div class="album-date">- {{post.title}}</div>
                  </div>
                  <button class="intro-menu" (click)="editPost(post.id)"></button>
                </div>
                <div class="album-content">{{post.description}}
                  <div class="album-photos">
                    <img src="{{post.image}}" alt="" class="album-photo" />
                  </div>
                </div>
                <div class="album-actions">
                  <button type="button" id="like-button" (click)="likeButtonClick()">
                    <svg class="heart-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M91.6 13A28.7 28.7 0 0 0 51 13l-1 1-1-1A28.7 28.7 0 0 0 8.4 53.8l1 1L50 95.3l40.5-40.6 1-1a28.6 28.6 0 0 0 0-40.6z"/></svg>
                    {{numberOfLikes}} </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right-side" :class="{ 'active': rightSide }">
        <div id="content-chats">
          <div class="account">
            <button class="account-button">
              <fa-icon [icon]="faMobileScreenButton" class="awesome-phone"></fa-icon>
            </button>
            <span class="account-user">You're Guess
              <img src="https://cdn3.iconfinder.com/data/icons/avatars-9/145/Avatar_Cat-512.png" alt="" class="account-profile" alt="">
              <span>▼</span>
            </span>
          </div>


          <!--ADS Section-->
          <div id="wrapp">
            <div class="ads">
              <div class="side-title"></div>
              <div>
                <h3></h3>
                <img src="" alt="">
            </div>


            <!--Chat Section-->
            <div class="contacts">
              <div class="side-title">CHATS</div>


                <div class="user" *ngFor="let userChat of userChat" (click)="viewProfile(userChat.id)">
                  <img src="{{userChat.picture}}" class="user-img">
                  <div class="username">{{userChat.username}}
                    <div class="user-status"></div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="search-bar right-search">
          <input type="text" placeholder="Search" />
          <div class="search-bar-svgs">
            <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1" viewBox="0 0 24 24">
              <circle cx="12" cy="12" r="3"/>
              <path d="M19.4 15a1.65 1.65 0 00.33 1.82l.06.06a2 2 0 010 2.83 2 2 0 01-2.83 0l-.06-.06a1.65 1.65 0 00-1.82-.33 1.65 1.65 0 00-1 1.51V21a2 2 0 01-2 2 2 2 0 01-2-2v-.09A1.65 1.65 0 009 19.4a1.65 1.65 0 00-1.82.33l-.06.06a2 2 0 01-2.83 0 2 2 0 010-2.83l.06-.06a1.65 1.65 0 00.33-1.82 1.65 1.65 0 00-1.51-1H3a2 2 0 01-2-2 2 2 0 012-2h.09A1.65 1.65 0 004.6 9a1.65 1.65 0 00-.33-1.82l-.06-.06a2 2 0 010-2.83 2 2 0 012.83 0l.06.06a1.65 1.65 0 001.82.33H9a1.65 1.65 0 001-1.51V3a2 2 0 012-2 2 2 0 012 2v.09a1.65 1.65 0 001 1.51 1.65 1.65 0 001.82-.33l.06-.06a2 2 0 012.83 0 2 2 0 010 2.83l-.06.06a1.65 1.65 0 00-.33 1.82V9a1.65 1.65 0 001.51 1H21a2 2 0 012 2 2 2 0 01-2 2h-.09a1.65 1.65 0 00-1.51 1z"/>
            </svg>
            <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 469.34 469.34">
              <path d="M456.84 76.17l-64-64.06c-16.13-16.13-44.18-16.17-60.37.04L45.77 301.67a10.73 10.73 0 00-2.7 4.59L.41 455.73a10.68 10.68 0 0013.19 13.2l149.33-42.7c1.73-.5 3.3-1.42 4.58-2.7l289.33-286.98c8.06-8.07 12.5-18.78 12.5-30.19s-4.44-22.12-12.5-30.2zM285.99 89.74L325.25 129l-205 205-14.7-29.44a10.67 10.67 0 00-9.55-5.9H78.92L286 89.75zM26.2 443.14l13.9-48.64 34.74 34.74-48.64 13.9zm123.14-35.18L98.3 422.54l-51.5-51.5L61.38 320H89.4l18.38 36.77a10.67 10.67 0 004.77 4.77l36.78 18.39v28.03zm21.33-17.54v-17.09c0-4.04-2.28-7.72-5.9-9.54l-29.43-14.7 205-205 39.26 39.26-208.93 207.07zm271.11-268.7l-47.03 46.61L301 74.6l46.59-47c8.06-8.07 22.1-8.07 30.16 0l64 64c4.03 4.03 6.25 9.38 6.25 15.08s-2.22 11.05-6.22 15.05z" /></svg>
            <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
          <path d="M12 5v14M5 12h14"/>
        </svg>
          </div>
        </div>
      </div>
</div>
</div>
