.header {
  font-family: 'Lato', sans-serif;
	display: flex;
	align-items: center;
	height: 62px;
	width: 100%;
	white-space: nowrap;
	flex-shrink: 0;
	font-weight: 600;
	font-size: 15px;
  color: #fff;
	top: 0;
	left: 0;
  background: linear-gradient(to right, #00c6ff, #0072ff);

	@media (max-width: 575px) {
		width: calc(100% + 20px);
    margin-left: -10px;
	}
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

	&-menu {
		display: flex;
		align-items: center;
		margin-left: auto;

		@media screen and (max-width: 740px) {
			display: none;
		}

		a:not(:first-child) {
			margin-left: 30px;
		}
	}

	.menu-icon {
		display: flex;
		align-items: center;
		margin-right: 20px;

		svg {
			width: 22px;
		}
	}

	&-icons {
		margin-left: auto;
		display: flex;
		align-items: center;

		svg {
			width: 18px;

			&:not(:last-child) {
				margin-right: 20px;
			}
		}
	}
}


a {
  text-decoration: none;
  color: inherit;
}
.aplogo{
  font-family: 'Lato', sans-serif;
  background: linear-gradient(#1fa2ff, #12d8fa, #a6ffcb);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.sp{
  background: linear-gradient(#ec6f66, #f3a183);;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

body{
  margin: 0;
  padding: 0;
}
  
.img-content{
  margin: 0%;
  padding: 0%;
}
  
  .img{
    width: 100%;
    height: 100%;
  }
  
  .img > .img-section{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .title-img{
    position:relative;
    bottom: 300px;
    text-align: center;
    line-height: 10px;
  }
  
  .title{
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
  }
  
  .title-nd{
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
  }
  
  header{
    height: 100px;
  }
  
  .info-about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
  
  .sec-img-content{
    height: 410px;
    width: 57%;
  }
  
  .sec-img-content > .img-about{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .info{
    width: 80%;
  }
  
  .title-rd{
    font-size: 35px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
  }
  
  .paragraph{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #363636;
    line-height: 25px;
    font-weight: 500;
  }
  
  .box-move{
    display: flex;
    justify-content: flex-end;
  }
  
  .line, .line2{
    border-bottom: 1px solid rgb(139, 139, 139);
    border-bottom-width: 4px;
    color: rgb(206, 206, 206);
  }
  
  .line2{
    margin-top: 80px;
  }
  
  .text-title{
    text-align: center;
    line-height: 20px;
    margin-top: 90px;
  }
  
  .thr-img-content{
    border-radius:50%;
    display: flex;
    align-content: center;
    margin-top: 80px;
  }
  
  
  .sec-img{
    border-radius: 10%;
    height: 350px;
    width: 100%;
    overflow: hidden;
  }
  
  .sec-img > .img-gallery{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .info-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin-left: 40px;
  }
  
  .center{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .ragnar{
    font-size: 26px;
    font-weight: 600;
    font-family: verdana;
  }
  
  .c{
    text-align: center;
    margin-top: -22px;
  }
  
  .aside-content{
    display: flex;
  }
  
  .box{
    width: 17%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    box-shadow: 0px 0px 20px 1px rgba(146, 146, 146, 0.767);
  }
  
  .s{
    padding: 0px 20px;
  }
  
  .aside-img{
    width: 90%;
    height: 220px;
    overflow: hidden;
    margin-bottom: 40px;
  }
  
  .aside-img > .img-aside{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .e{
    margin-top: -20px;
    text-align: center;
  }
  
  .center2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
  
  .ragnar{
    text-align: center;
  }
  
  .mediumfoo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }
   
  .box2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 50%;
  }
  
  .center4{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
  }
  
  .v{
    text-align:left;
  }
  
  .input{
    padding: 15px 40px;
    border: none;
    border: 1px solid rgb(139, 139, 139);
    margin-left: 20px;
  }
  
  ::placeholder{
    font-family: cursive, verdana;
    font-size: 15px;
  }
  
  .btn-enviar{
    padding: 14px;
    margin-left: 20px;
    background-color: #2a2a2a;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: all .5s ease
  }
  
  .btn-enviar:hover{
    background-color: rgba(0, 0, 0, 0.432);
    padding: 16px;
  }
  
  .form{
    margin-top: 40px;
  }
  
  .grid{
    width: 90%;
  }
  
  .title-th{
    font-size: 16px;
    font-family: verdana;
    font-weight: 800;
  }
  
  .d{
    margin-top: -10px;
  }
  
  .main-footer .container {
    font-family: 'Lato', sans-serif;
    padding: 0 0 70px;
    overflow: hidden;
  }
  
  .social,
  .footer-bottom {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .footer-nav-container {
    padding: 20px 20px 65px;
    border-top: 1px solid rgb(220, 220, 220);
  }
  
  .footer-nav {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media (min-width: 601px) {
    .footer-nav-container .social,
    .footer-bottom {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .social {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  .footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  @media (min-width: 601px) {
    .main-footer .container {
      padding-bottom: 70px;
    }
  }
  
  @media (min-width: 1025px) {
    .main-footer .container {
      padding-bottom: 27px;
    }
  
    .footer-nav-container {
      padding-top: 55px;
      padding-bottom: 55px;
    }
    .footer-nav {
      flex-direction: row;
      justify-content: space-between;
    }
    .footer-bottom {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  
  .social a {
    height: 85px;
  }
  
  @media (max-width: 600px) {
    .social li {
      width: 25%;
    }
  }
  
  @media (min-width: 601px) {
    .social a {
      padding: 0 28px;
    }
  }
  
  .social svg {
    width: 20px;
    /* height: 100%; */
  }
  
  .footer-nav a {
    font-weight: 300;
    text-transform: uppercase;
    color: #000;
    padding: 22px 0;
    font-size: 12px;
  }
  
  @media (min-width: 1024px) {
    .footer-nav a {
      padding: 10px;
      font-size: 14px;
    }
  }
  
  .footer-bottom li {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 50px;
  }
  
  .footer-bottom li:last-child {
    font-size: 12px;
  }
  @media (min-width: 1025px) {
    .footer-bottom li {
      line-height: inherit;
    }
  }
  
  a:hover,
  .icon-plus:hover {
    background: linear-gradient(#1fa2ff, #12d8fa, #a6ffcb);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  li{
    list-style: none;
  }
  
  .main-footer{
    margin-top: 200px;
  }
  
  .social{
    padding-top: 30px;
    border-top: 1px solid rgb(220, 220, 220);
  }