<body>
    <div class="contenido-section">
        <div class="contenido">
            <div class="contenido-imagen">
                <div class="imagen">
                    <img src="../../../../../assets/img/Posts/perrito.jpg" alt="">
                </div>
            </div>

            <div class="contenido-formulario">
                <form action="#" #userAccount="ngForm" (ngSubmit)="onSubmit(userAccount.value)">
                    <p class="title">Crea un Anuncio</p>
                    <input type="text" name="profile_Id" class="input" placeholder="Id del anuncio" required ngModel/>
                    <input type="text" name="title" class="input" placeholder="Titulo" required ngModel/>
                    <input type="file" name="image" class="input" placeholder="Imagen" required ngModel/>
                    <input type="text" name="image" class="input" placeholder="Imagen Por URL" required ngModel/>
                    <input type="text" name="description" class="input" placeholder="Descripcion" required ngModel/>
                    <br>
                    <input id='submit-data' class="button" type="submit" value="Crea un Anuncio"/>
                </form>
            </div>
        </div>
    </div>
</body>
