<body>
<div class="form_wrapper">
	<div class="form_container">
		<div class="title_container">
			<h2>Responsive Registration Form</h2>
		</div>
		<div class="row clearfix">
			<div class="">
				<form id='register-form' autocomplete="off">
					<div class="row clearfix">
						<div class="col_half">
							<div class="input_field">
								<span>
									<i aria-hidden="true" class="fa fa-user"></i>
								</span>
								<input type="text" name="name" placeholder="First Name" />
							</div>
						</div>
						<div class="col_half">
							<div class="input_field">
								<span>
									<i aria-hidden="true" class="fa fa-user"></i>
								</span>
								<input type="text" name="name" placeholder="Middle Name" required />
							</div>
						</div>
						<div class="col_half">
							<div class="input_field">
								<span>
									<i aria-hidden="true" class="fa fa-user"></i>
								</span>
								<input type="text" name="name" placeholder="Surname" required />
							</div>
						</div>
						<div class="col_half">
							<div class="input_field">
								<span>
									<i aria-hidden="true" class="fa fa-user"></i>
								</span>
								<input type="text" name="name" placeholder="Last Name" required />
							</div>
						</div>
					</div>
					<div class="input_field">
						<span>
							<i aria-hidden="true" class="fa fa-envelope"></i>
						</span>
						<input type="email" name="email" placeholder="Email" required />
					</div>
					<div class="input_field">
						<span><i aria-hidden="true" class="fa fa-lock">
							</i>
						</span>
						<input type="password" name="password" placeholder="Password" required />
					</div>
					<div class="input_field">
						<span>
							<i aria-hidden="true" class="fa fa-lock"></i>
						</span>
						<input type="text" name="username" placeholder="Username" required />
					</div>
					<div class="input_field">
						<span>
							<i aria-hidden="true" class="fa fa-lock"></i>
						</span>
						<input type="text" name="phone" placeholder="Phone" required />
					</div>
					<div class="input_field">
						<span>
							<i aria-hidden="true" class="fa fa-lock"></i>
						</span>
						<input type="date" name="username" placeholder="Username" required />
					</div>
					<div class="input_field">
						<span>
							<i aria-hidden="true" class="fa fa-lock"></i>
						</span>
						<input type="text" name="username" placeholder="Departament" required />
					</div>
					<div class="input_field">
						<span>
							<i aria-hidden="true" class="fa fa-lock"></i>
						</span>
						<input type="text" name="username" placeholder="City" required />
					</div>
					<!--					<div class="input_field checkbox_option">
						<input type="checkbox" id="cb1">
						<label for="cb1">I agree with terms and conditions</label>
					</div>
					<div class="input_field checkbox_option">
						<input type="checkbox" id="cb2">
						<label for="cb2">I want to receive the newsletter</label>
					</div>
					<button id='check-data' class='button'>
						Check Data
					</button>
--> <input id='submit-data' class="button" type="submit" value="Register" />
				</form>
			</div>
		</div>
	</div>
</div>
</body>